footer {
    background-image: linear-gradient(160deg, #941c97 0%, #337b8b 80%);
    color: #cbd5e1;
    padding: 70px 0 30px;
    font-family: 'Segoe UI', sans-serif;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Footer grid */
.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}

/* Column heading */
.footer-column h3 {
    color: #1b1b1b;
    font-size: 18px;
    margin-bottom: 18px;
    position: relative;
}

/* .footer-column h3::after {
    content: "";
    width: 35px;
    height: 3px;
    background: #38bdf8;
    position: absolute;
    bottom: -6px;
    left: 0;
} */

/* Text */
.footer-column p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 12px;
}

/* Links */
.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #cbd5e1;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}

.footer-column ul li a:hover {
    color: #941c97;
    padding-left: 6px;
}

/* Icons */
.footer-column i {
    color: #fff;
    /* margin-right: 8px; */
}

.ico {
    color: #941c97 !important;
}
/* Social links */
.social-links {
    margin-top: 15px;
}

.social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-right: 10px;
    border-radius: 50%;
         background-color: #ffffff;

    color: #941c97 !important;
    font-size: 16px;
    transition: 0.3s;
}

.social-links a:hover {
            background-image: linear-gradient(160deg, #941c97 0%, #337b8b 80%);

    /* background: #38bdf8; */
    color: #ffffff !important;
    transform: translateY(-4px);
}

/* Footer bottom */
.footer-bottom {
    border-top: 1px solid rgb(143, 135, 135);
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #94a3b8;
}

/* ---------------- RESPONSIVE ---------------- */

/* Tablet */
@media (max-width: 992px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 576px) {
    footer {
        padding: 50px 0 20px;
    }

    .footer-content {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .footer-column h3::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .social-links a {
        margin: 5px;
    }
}
