:root {
  --primary-color: #1a5276;
  --secondary-color: #ffffff;
  --accent-color: #e74c3c;
  --light-color: #f8f9fa;
  --dark-color: #ffffff;
  --text-color: #333;
  --text-light: #666;
  --border-color: #e0e0e0;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 8px 15px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: #000;

}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
.border-wrap {
    position: sticky;
  top: 18px;
  z-index: 100;
   margin: 18px;
  border-radius: 60px;
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(10px);
  /* box-shadow: inset 0px 1px 2px rgba(148, 28, 151, 0.8); */
  box-shadow: 
    inset 0px 1px 2px rgba(148, 28, 151, 0.8), /* Top inner glow */
    0px 1px 2px rgba(51, 123, 139, 0.8);
  /* background: linear-gradient(160deg, #941c97 0%, #337b8b 80%); */
}

header {
  margin: 18px;
  padding: 8px 0;
  border-radius: 60px;
  border: 2px solid transparent;
}

.header-top {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 0;
  font-size: 0.9rem;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  gap: 20px;
}

/* .social-links a {
  color: white;
  margin-left: 15px;
  transition: color 0.3s;
} */

.social-links a:hover {
  color: var(--accent-color);
}

/* .header-main {
box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
} */

.header-main img {
  width: 77px;
}

.header-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

.logo i {
  margin-right: 10px;
  font-size: 2rem;
  color: var(--secondary-color);
}

.main-nav {
  display: flex;
  list-style-type: none;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
}

.main-nav li {
  margin-left: 30px;
}

.main-nav a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
  transition: color 0.3s;
  position: relative;
}

.main-nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s;
}

.main-nav a:hover {
  color: var(--secondary-color);
}

.main-nav a:hover::after {
  width: 100%;
}

.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
}
